.shipCard {
	border: 2px solid black;
	height: 600px;
}

.description {
	text-align: justify;
}

.shipCard > img {
	width: 200px;
	display: block;
	margin: auto;
}

.shipHeader {
	text-align: center;
}

/*.shipCard:hover {
	background-color: lightgray;
}*/

.selected {
	background-color: darkgray;
}